.result {
  width:300px;
  background: #D7FFD8;
  margin:auto;
  margin: 10px 0;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: cover;
  width: 200px;
  object-fit: cover;
}

.picdesc {
  display:flex;
  flex-direction: column;
}

div.edit {
  font-size: 18px;
  font-family: 'Newsreader', serif;
  outline:none;
  background:#FFF;

  border:none;
  width:105px;
  height:40px;
  margin:10px;

}

@media all and (min-width: 1000px) {
    
  div.edit {
    font-size: 20px;

    width:90px;
    height:36px;

  }

  .result {
    width:60%;
  }

  .picdesc {
    flex-direction: row;
  }


  .desc {
    margin: 0 20px;
  }

  img {
    margin: 0 20px;

    margin-bottom:20px;
  }

}
