.answer {
  width:300px;
  background: #D7FFD8;
  margin:auto;
  margin: 10px 0;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input.edit {
  width: 200px;
  margin-bottom: 10px;
  height:40px;
  font-size:24px;
  font-family: 'Newsreader', serif;
}

textarea.edit {
  width: 200px;
  margin-bottom: 10px;
  font-size:14px;
  font-family: 'Newsreader', serif;
  height:200px;
}

form.edit {
  width: 300px;
  margin:auto;
  background: #D7FFD8;
}

button.edit {
  font-size: 18px;
  font-family: 'Newsreader', serif;
  outline:none;
  background:#FFF;

  border:none;
  width:105px;
  height:40px;
  margin:10px;
}


p.answerList {
  font-size: 22px;
  font-family: 'Newsreader', serif;

  text-align: center;
  margin: auto;
}

.topSpace {
  margin-top: 220px;
}


@media all and (min-width: 1000px) {
    
  .answer {
      width:60%;
  }

  input.edit {
    width: 400px;
    height:28px;
  }

  textarea.edit {
    width: 400px;
    font-size:20px;

  }

  form.edit {
    width:60%;
  }

  button.edit {
    font-size: 20px;

    width:90px;
    height:36px;
  }

  p.answerList {
    text-align: left;
    margin: auto;
    margin-left:30%;
    font-size: 30px;

  }

}