header.search {
  margin-top: 160px;
  padding: 45px 15px;
}


h2 {
  font-weight: 700;
  font-size: 20px;
}

h1 {
  font-weight: 700;
  font-size: 22px;
}

.search-page {
  font-family: 'Newsreader', serif;
  font-size: 20px;
  color: #000;
  text-align: center;
  line-height: 1.5;
  min-width: 320px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

input.search {
  width: 200px;
  margin-bottom: 10px;
  height:28px;
  font-size:24px;
  font-family: 'Newsreader', serif;
}

.searchlabel {
  font-size:28px;
  margin-bottom: 20px;

}

button.search, button.showHide {
  font-size: 18px;
  font-family: 'Newsreader', serif;
  outline:none;
  background:#D7FFD8;

  border:none;
  width:105px;
  height:40px;
  margin: auto;
  margin-top:20px;
  margin-bottom:10px;
}

button.showHide { 
  background:#FFF;
}

form.wrapper {
  display: flex;
  flex-direction:column;
}

div.spacer {
  height:98px;
}

#question {
  font-size:18px;
}

.search-space {
  height:100px;
}

@media all and (min-width: 1000px) {


  form.wrapper {
    display:inline;
  }
  

  input.search {
      width: 400px;
      height:40px;
  }

  #question {
    font-size:24px;
    margin-right: 20px;

  }
  

  .searchlabel {
    font-size:20px;
  }

  button.search, button.showHide {
    font-size: 20px;
    width:90px;
    height:36px;
  }
  
  h1 {
    font-size: 2em;
  }
      
}
