
nav {
    height: 170px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #8CEDE0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.Nav-login {
    display:flex;

    flex-direction: row;
    height: 8vh;
    justify-content: center;
    align-items: center;
    background: #8CEDE0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.flexRow {
    display:flex;

    flex-direction: row;
 }

.navLink {
    font-size: 15px;
    font-family: 'Newsreader', serif;
    outline:none;
    background:#FFF;
    margin: 10px 10px;
  
    border:none;
    width:70px;
    height:25px;
}

.big {
      
    width:100px;
}


Link {
    text-decoration: none;
}


nav p {
    margin: 10px 20px;
    font-weight: bold;
}

button.nav {
    font-size: 18px;
    font-family: 'Newsreader', serif;
    outline:none;
    background:#FFF;
  
    border:none;
    width:100px;
    height:30px;
  }

  @media all and (min-width: 1000px) {

    nav {
        flex-direction: row;
        height: 8vh;

    }

    .flexRow {
        flex-direction: row;

    }

    .navLink {
        font-size: 18px;
        font-family: 'Newsreader', serif;
        -webkit-font-smoothing: antialiased;
        outline:none;
        background:#FFF;
        margin: 0 5px;
      
        border:none;
        width:80px;
        height:30px;
    }
    
    .big {
      
        width:130px;
        height:30px;
    }
    
  }