input.edit {
  width: 200px;
  margin-bottom: 10px;
  height:40px;
  font-size:24px;
  font-family: 'Newsreader', serif;
}

textarea.edit {
  width: 200px;
  margin-bottom: 10px;
  font-size:14px;
  font-family: 'Newsreader', serif;
  height:200px;

}

form.edit {
  width: 300px;
  margin:auto;
  text-align: center;
}

button.edit, button.helpful {
  font-size: 18px;
  font-family: 'Newsreader', serif;
  outline:none;
  background:#FFF;

  border-radius: 10px;
  border:none;
  width:105px;
  height:40px;
  margin:10px;
}




@media all and (min-width: 1000px) {
    

  input.edit {
    width: 400px;
    height:28px;
  }

  textarea.edit {
    width: 400px;
    font-size:20px;

  }

  form.edit {
    width:430px;
    text-align: left;

  }

  button.edit {
    font-size: 20px;

    width:90px;
    height:36px;
  }


}