div.signup-page, div.login-page {
  background-color: #fff;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  position:relative;
}

footer {
  position:absolute;
  bottom:0;
  height: 50px;
  width:100%;
  background-color: #D7FFD8;
  z-index: 10;
}

header {
  padding: 45px 15px;
}
  
.valerror {
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  border-radius: 10px;
  background-color: #FFD999;
  height: 28px;
}

div.success {
  border-radius: 10px;
  background-color:#99FF99;
}

div.linkdiv {
  height: 20px;
}

div.loginError {
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  border-radius: 10px;
  height: 20px;
  color:brown;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

.hide {
  display: none;
}

form.signup {
  width: 200px;
  margin:auto;
  background-color: #FFF;
}

label {
  display: block;
}

input.signup {
  margin:auto;
  margin-bottom: 10px;
  height:22px;
  width:200px;
  font-size:18px;
  font-family: 'Newsreader', serif;
}

button.signup {
  font-size: 18px;
  font-family: 'Newsreader', serif;
  outline:none;
  background:#D7FFD8;

  border:none;
  width:105px;
  height:40px;
  margin: auto;
  margin-top:20px;
}

.loadwidget {
  width: 50px;
  height: 50px;
  margin-top: 30px;
}

h3 {
  font-size: 15px;
}


@media all and (min-width: 1000px) {

  .container {
    flex-direction: row;
  }

  input.signup {
    height:40px;
    font-size:24px;
    width:400px;
  }

  form.signup {
    width:400px;
  }

  button.signup {
    font-size: 22px;
    width:90px;
    height:36px;
  }

  h3 {
    font-size: 20px;
  }

}
  